<!--
  Generated template for the RegistroPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>Registro</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <form id="signupForm" [formGroup]="signupForm">
    <ion-list>

      <ion-item-group>
        <h1>Información General</h1>
        <p>Por favor diligencie el siguiente formulario para completar el registro.</p>
        <!--<ion-item>
          <ion-label>
            <ion-icon name="medical" item-left></ion-icon>Tipo Cliente</ion-label>
          <ion-select formControlName="companyType">
            <ion-option value="mit">MicroTienda </ion-option>
            <ion-option value="mat">MacroTienda</ion-option>
            <ion-option value="sut">SuperTienda</ion-option>
          </ion-select>
        </ion-item>-->
        <ion-item>
          <ion-label floating>
            <ion-icon name="briefcase" item-left></ion-icon>Nombre Compañía</ion-label>
          <ion-input type="text" formControlName="company" placeholder=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>
            <ion-icon name="contact" item-left></ion-icon>Nombre</ion-label>
          <ion-input type="text" formControlName="name" placeholder=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>
            <ion-icon name="contact" item-left></ion-icon>Apellidos</ion-label>
          <ion-input type="text" formControlName="lastnames" placeholder=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-icon name="card" item-left></ion-icon>Tipo Documento</ion-label>
          <ion-select formControlName="documentType">
            <ion-option value="cc">Cédula de Ciudadanía</ion-option>
            <ion-option value="nit">NIT</ion-option>
            <ion-option value="rut">RUT</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>
            <strong>#</strong> Documento: </ion-label>
          <ion-input type="number" formControlName="documentNumber" placeholder=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-label fixed>
            <ion-icon name="{{signupForm.value.gender}}" item-left></ion-icon>Género</ion-label>
          <ion-select formControlName="gender">
            <ion-option value="male" selected>
              <ion-icon name="male" item-left></ion-icon>Masculino</ion-option>
            <ion-option value="female">
              <ion-item>
                <ion-icon name="female" item-right></ion-icon> Femenino</ion-item>
            </ion-option>
            <ion-option value="undefined">No definido</ion-option>
          </ion-select>
        </ion-item>

      </ion-item-group>
      <br>
      <hr>
      <br>
      <ion-item-group>
        <h1>Información De Inicio de Sesión</h1>
        <p>Ingrese su correo y contraseña.</p>
        <ion-item>
          <ion-label floating>
            <ion-icon name="mail" item-left></ion-icon>Correo</ion-label>
          <ion-input type="text" formControlName="email" placeholder=""></ion-input>
        </ion-item>
        <div style="color:red" *ngIf="!signupForm.controls['email'].valid && signupForm.controls['email'].dirty">
          <small>
            <ul>Ingrese un correo válido. <br>Ejemplo: <u>micorreo@dominio.com</u></ul>
          </small>
        </div>
        <ion-item>
          <ion-label floating>
            <ion-icon name="contact" item-left></ion-icon>Contraseña</ion-label>
          <ion-input name="pwd" id="pwd" type="password" formControlName="pwd" placeholder=""></ion-input>
        </ion-item>
        <div style="color:red" *ngIf="!signupForm.controls['pwd'].valid && signupForm.controls['pwd'].dirty">
          <small>
            <ul>Debe contener 8 caracteres y al menos:
              <li>Una Letra Mayúscula</li>
              <li>Un Número</li>
            </ul>
          </small></div>

      </ion-item-group>
    </ion-list>
    <button ion-button color="danger" block type="submit" [disabled]="!signupForm.valid" (click)="register(signupForm.value)">REGISTRAR</button>
    O si ya tiene cuenta.
    <button ion-button color="dark" block  outline type="submit" [navPush]="loginPage" [navParams]="signupForm.value">INICIAR SESIÓN</button>
  </form>

</ion-content>